﻿@model IEnumerable<JiraWorkLogApp.Web.ViewModels.DailyWorkLog>

@{
    ViewBag.Title = "Daily";
}

<h2>Daily Logs: Total (@Model.Sum(x => x.Time).ToString("0.00"))</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @item.Time.ToString("0.00")
        </td>
    </tr>
}

</table>
