﻿@model IEnumerable<JiraWorkLogApp.Web.ViewModels.SummaryWorkLog>


@{
    ViewBag.Title = "Daily";
}

<h2>Daily Logs: Total (@Model.Sum(x => x.LoggedTime).ToString("0.00"))</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SprintName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoggedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoggedTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SprintName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoggedDate)
            </td>
            <td>
                @item.LoggedTime.ToString("0.00")
            </td>
        </tr>
    }

</table>
